/YOLO-Object-Detection/bin
/YOLO-Object-Detection/build
/YOLO-Object-Detection/cfg
/YOLO-Object-Detection/ckpt
/YOLO-Object-Detection/darkflow
/YOLO-Object-Detection/test
/YOLO-Object-Detection/flow
/YOLO-Object-Detection/LICENSE
/YOLO-Object-Detection/video.avi
/YOLO-Object-Detection/README.md
/YOLO-Object-Detection/setup.py
/Feature-Extraction/bin
/Feature-Extraction/build
/Feature-Extraction/cfg
/Feature-Extraction/ckpt
/Feature-Extraction/darkflow
/Feature-Extraction/test
/Feature-Extraction/flow
/Feature-Extraction/LICENSE
/Feature-Extraction/video.avi
/Feature-Extraction/README.md
/Feature-Extraction/setup.py
/Feature-Extraction/.coveragerc
/Feature-Extraction/.gitignore
